* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Century_Gothic'; /* Имя шрифта */
    src: url(../fonts/GOTHIC.ttf); /* Путь к файлу со шрифтом */
}

.slick-slide:hover, .slick-slide:active, .slick-slide:visited{
    outline: 0;
    outline-offset: 0;
}

/* header */

/* header end */


/* big-slider */

/* big-slider end */

/* content */

/* content end */

/* gallery */

/* gallery end */

/* links */

/* links end */

/* footer */
.footer-top{
    background-color: #3b3b3b;
    height:135px;
}

.footer-top .container{
    height:100%;
}

.wrapper-footer-top-content{
    height:100%;
    flex-direction: row;
    align-items: center;
}

.wrapper-footer-logo img{
    width:60px;
}


.footer-bottom{
    height:40px;
    background-color: #cbcccc;
}

.footer-bottom .container{
    height:100%;
 }

.wrapper-footer-bottom{
    font-size: 14px;
    height:100%;
    flex-direction: row;
    align-items: center;
}

.footer-languages-menu a{
    color: #ababab;
    text-decoration: none;
}

.footer-languages-menu a:hover{
    color: #2696f5;
}

.wrapper-footer-social .footer-social-item{
    padding-right: 15px;
}

.footer-social-item svg{
    font-size: 20px;
    color: #a5a5a5;
}

.footer-social-item:hover svg{
    color: #2696f5;
}

.footer-additional-menu-item{
    padding-bottom: 7px;
    font-size: 14px;
    color: #a5a5a5;
}

.footer-additional-menu-item svg{
    color: #1567a1;
    width: 20px !important;
    text-align: center;
    margin-right: 7px;
    font-size: 15px;
}

.footer-additional-menu-item a{
    text-decoration: none;
    color: #a5a5a5;
}

.red{
    color: #ef3a41;
}

.copyright{
    font-size: 14px;
    color: #818181;
    text-align: right;
}

.copyright a{
    text-decoration: none;
}
/* footer end */


@media (max-width: 1920px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}

@media (max-width: 375px) {

}