* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Century_Gothic'; /* Имя шрифта */
    src: url(../fonts/GOTHIC.ttf); /* Путь к файлу со шрифтом */
}

h2 {
    font-family: 'Century_Gothic'; /* Имя шрифта */
    font-size: 36px;
    color: #1567a1;
    text-transform: uppercase;
}

.slick-slide:hover, .slick-slide:active, .slick-slide:visited {
    outline: 0;
    outline-offset: 0;
}

/* header */

/* header end */

/* big-slider */

/* big-slider end */

/* content */

/* content end */

/* gallery */
.wrapper-gallery {
    margin: 40px 0 50px 0;
}

.gallery-item{
    position: relative;
    height:260px;
    margin-bottom: 30px;
}

.wrapper-gallery-item-date{
    position: absolute;
    bottom: 0;
    left: 0;
    width:165px;
    height:34px;
    background-color: #1567a1;
}

.gallery-item-date{
    height:inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffa304;
    font-size: 24px;
}

.gallery-item img, .video-item img{
    width:100%;
    height: inherit;
}

.video-item{
    height:260px;
    margin-bottom: 30px;
}

.video-item a{
    width:100%;
    height:100%;
    text-decoration: none;
}


/* gallery end */

/* links */
.links {
    background-color: #f8f8f8;
    padding: 30px 0 20px 0;
}

.wrapper-links-content {
    margin: 30px 0;
}

.wrapper-link-item {
    margin-bottom: 27px;
}

/* links end */

/* footer */
.footer-top {
    background-color: #3b3b3b;
    height: 135px;
}

.footer-top .container {
    height: 100%;
}

.wrapper-footer-top-content {
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.wrapper-footer-logo {
    display: flex;
}

.wrapper-footer-logo img {
    width: 60px;
    margin-right: 5px;
}

.logo-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-info h4 {
    font-size: 17px;
    color: #ababab;
    font-weight: bold;
    text-transform: uppercase;
}

.logo-info h5 {
    font-size: 13px;
    color: #ababab;
}

.footer-bottom {
    height: 40px;
    background-color: #cbcccc;
}

.footer-bottom .container {
    height: 100%;
}

.wrapper-footer-bottom {
    font-size: 14px;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.footer-languages-menu a {
    color: #ababab;
    text-decoration: none;
}

.footer-languages-menu a:hover {
    color: #2696f5;
}

.wrapper-footer-social .footer-social-item {
    padding-right: 15px;
}

.footer-social-item svg {
    font-size: 20px;
    color: #a5a5a5;
}

.footer-social-item:hover svg {
    color: #2696f5;
}

.footer-additional-menu-item {
    padding-bottom: 7px;
    font-size: 14px;
    color: #a5a5a5;
}

.footer-additional-menu-item svg {
    color: #1567a1;
    width: 20px !important;
    text-align: center;
    margin-right: 7px;
    font-size: 15px;
}

.footer-additional-menu-item a {
    text-decoration: none;
    color: #a5a5a5;
}

.red {
    color: #ef3a41;
}

.copyright {
    font-size: 14px;
    color: #818181;
    text-align: right;
}

.copyright a {
    text-decoration: none;
}

/* footer end */

@media (max-width: 1920px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 992px) {
    .gallery-item, .video-item{
        height: auto;
    }

    .footer-top {
        height: auto;
    }

    .wrapper-footer-top-content {
        padding-top: 40px;
    }

    .footer-additional-menu {
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 768px) {
    .wrapper-link-item, .wrapper-link-item img{
        width:100%;
    }
}

@media (max-width: 576px) {

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}

@media (max-width: 375px) {

}